/******************
Colors
*******************/
/******************
Breakpoints
*******************/
/*
@include respond-to(small) { ... }
@include respond-to(medium) { ... }
@include respond-to(large) { ... }
*/
.viewOne {
  background-color: pink;
  text-align: center;
  font-size: 26px;
  color: pink; }

.viewTwo {
  background-color: yellow;
  font-size: 25px; }

.care-Carousel {
  margin-top: 140px;
  border: 15px solid #DDDDDD; }
  .care-Carousel .carousel-fade .carousel-inner .item {
    transition-property: opacity; }
  .care-Carousel .carousel-fade .carousel-inner .item img {
    width: 100%;
    height: auto;
    max-height: 550px; }
  .care-Carousel .carousel-fade .carousel-inner .item,
  .care-Carousel .carousel-fade .carousel-inner .active.left,
  .care-Carousel .carousel-fade .carousel-inner .active.right {
    opacity: 0; }
  .care-Carousel .carousel-fade .carousel-inner .active,
  .care-Carousel .carousel-fade .carousel-inner .next.left,
  .care-Carousel .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
  .care-Carousel .carousel-fade .carousel-inner .next,
  .care-Carousel .carousel-fade .carousel-inner .prev,
  .care-Carousel .carousel-fade .carousel-inner .active.left,
  .care-Carousel .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0); }
  .care-Carousel .carousel-fade .carousel-control {
    z-index: 2; }
  .care-Carousel .carousel-indicators {
    bottom: 0; }
  .care-Carousel .carousel-caption {
    padding-bottom: 2px;
    color: red; }

.globalNav {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  height: 140px;
  background-color: white; }
  .globalNav .dove-logo {
    float: left;
    width: 175px;
    height: 140px;
    background-color: #F8BA00;
    display: inline; }
    .globalNav .dove-logo img {
      height: 95px;
      width: 95px;
      padding-top: 30px; }
  .globalNav .global-navigation-header {
    position: relative;
    height: 140px;
    margin-top: none;
    line-height: 0px;
    display: inline; }
    .globalNav .global-navigation-header.row {
      margin-left: 0px; }
    .globalNav .global-navigation-header .nav-tabs {
      border-bottom: none;
      margin-top: 50px; }
      @media (max-width: 992px) {
        .globalNav .global-navigation-header .nav-tabs .expanded {
          visibility: hidden; } }
  .globalNav .nav .last a {
    color: #F8BA00; }
  .globalNav .nav > li > a {
    font: 16px arial;
    color: #666666; }
    @media (max-width: 1200px) {
      .globalNav .nav > li > a {
        font-size: 14px;
        padding-left: 8px;
        padding-right: 8px; } }
  .globalNav .nav > li > a:hover,
  .globalNav .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    color: #CCCCCC; }
  .globalNav .btn-group {
    visibility: hidden;
    position: absolute;
    top: 70px;
    right: 0;
    /*.btn-lg, .btn-group-lg > .btn {
		border: none;
		background-color: transparent;
		padding: 0;
   		.glyphicon-align-justify {
   			font-size: 35px;
   		}
   
	}*/ }
    .globalNav .btn-group .btn {
      border: none;
      background-color: transparent;
      box-shadow: none;
      background-image: none;
      text-shadow: none; }
      .globalNav .btn-group .btn .glyphicon-align-justify {
        font-size: 35px; }
    @media (max-width: 992px) {
      .globalNav .btn-group {
        visibility: visible; } }
  .globalNav .dropdown.open > a, .globalNav .dropdown.open > a:hover, .globalNav .dropdown.open > a:focus, .globalNav .dropdown.open > a:active {
    background-color: transparent;
    border-color: transparent;
    color: #CCCCCC; }

.band {
  margin-bottom: 15px;
  margin-top: 15px; }

.topic-grid {
  background-color: #DDDDDD;
  height: 362px;
  padding: 0; }
  .topic-grid .left-block .contents {
    background-color: #555555;
    height: 362px; }
    .topic-grid .left-block .contents .top-section {
      background-color: #888888;
      font-size: 17px;
      color: #F8BA00;
      max-height: 65px; }
      @media (max-width: 1200px) {
        .topic-grid .left-block .contents .top-section {
          font-size: 12px; } }
    .topic-grid .left-block .contents .content-section {
      font-size: 14px;
      color: #EDEDED;
      max-height: 150px; }
  .topic-grid .right-block {
    height: 362px; }
    .topic-grid .right-block .row {
      height: 50%; }
    .topic-grid .right-block .left {
      background-color: #DDDDDD;
      height: 100%; }
    .topic-grid .right-block .middle {
      background-color: #DDDDDD;
      height: 100%; }
    .topic-grid .right-block .right {
      background-color: #DDDDDD; }
    .topic-grid .right-block .test {
      height: 100%;
      background-color: yellow; }
    .topic-grid .right-block .test2 {
      height: 100%;
      background-color: black; }
    .topic-grid .right-block .top {
      width: 100%;
      border-bottom: 15px solid #DDDDDD; }
    .topic-grid .right-block .bottom {
      width: 100%; }
