/*!bgImage.scss*/
.bg-image {
	margin-top:140px;
	@include respond-to-max(x-small) {
		margin-top: 150px;
	}
        img {
        	width: 100%;
        	height: auto;
        	max-height: 800px;
        }
        
}
