.blog-component {
	.blog-title{
		
	}
	.date {
		font-weight: bold;
	    line-height: 17px;
	    font-family: Arial;
	    font-size: 18px;
	    text-transform: capitalize;
	}
	.title{
	    margin-top: 20px;
	    margin-bottom: 10px;
	    font-size: 15px;
	    font-family: Arial;
	}
	.text-section {
	    margin-top: 20px;
    	border-top: 2px solid black;
		white-space: pre-line; //allows for newline to show
		font-size: 15px;
	    font-family: Arial;
	    line-height: 1.8;
	}
	.pagination-sm > li > a, .pagination-sm > li > span {
		font-size: 21px;
		color: $gry;
	}
	.pagination > .active > a,
	 .pagination > .active > span,
	  .pagination > .active > a:hover,
	   .pagination > .active > span:hover,
	    .pagination > .active > a:focus,
	     .pagination > .active > span:focus {
	     	background-color: $yellow;
	     	border-color: $yellow;
	     	color: white;
	     	
	     }
	
	
	
}