.c7bh {
.area1 { background: #2b2b2b; height: 1200px; }
.area2 { background: #c12235; height: 1200px; }
div { overflow: hidden; }
.section { float: left; width:33.33%; height: 1200px; background:url(http://jonathanarbely.de/cdn/parallax/tri.png) no-repeat; }
.area2 .section { background:url(http://jonathanarbely.de/cdn/parallax/tri2.png) no-repeat; }
}