/*!careCarousel.scss*/
body{
	
	height:1233px !important;
}
.care-Carousel {
	margin-top:140px;
	
	.carousel-fade {
    .carousel-inner {

        .item {
            transition-property: opacity;
        }
        
        .item img {
        	width: 100%;
        	height: auto;
        	max-height: 550px;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
	
	.carousel-indicators {
		bottom: 0;
		z-index:50px;
	}
	
	.carousel-caption {
		padding-bottom: 2px;
		color:red;
	}
}