/*!contactComponent.scss*/
.contact-component {
	.left-side {
	    background-color: white;
    	height: 600px;
    	@include respond-to-max(lg-screen-max) {
			height:400px;
		}
				
	}
	.tempDirections {
	    text-align: center;
	    font-family: Arial;
	    font-size: 20px;
	    margin-bottom: 30px;
	}
	.emailLink {
		text-align: center;
	    font-family: Arial;
	    font-size: 20px;
	    margin-bottom: 30px;
	    display: block;
	    text-decoration: underline;
	}
	.alternate {
		text-align: center;
		font-family: Arial;
   		font-size: 20px;
   		margin-bottom: 30px;
	}
	.physical {
		text-align: center;
		font-family: Arial;
   		font-size: 20px;
   		font-weight: bold; 
	}
}