.donate-info {
	position: relative;
	.text-section {
		background-color: white;
		height: 400px;
		font-family: Arial;
		font-size:22px;
		padding:35px;
		position: relative;
	}
	.donate-other{
		background-color: blue;
    	width: 175px;
    	height: 45px;
    	cursor: pointer;
    	position: absolute;
    	bottom: 0;
        margin-right: 25%;
    	margin-left: 25%;
	}
	.donate-button {
		height:45px; 
		width:175px;
		background-color:$donateBlue;
		font-family: Arial;
		color: white;
		border-color: transparent;
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	}

}    