.middle-component {
	
	.left-side {
		background-color: white;
		.top-content {
			margin-top:45px;
			background-color: white;
			white-space: pre-line;
		    font-family: Arial;
		    font-size: 23px;
		}
		.bottom-content {
			margin-top:45px;
			.title {
				font-family: Arial;
				font-size: 23px;
			}
		}
	}
	
	.right-side {

		background-color: $ltGry2;

			background-color: $ltGry2;
			.donate {
				
				width:100%;
			
			 
				.button-image {
					width:100px;
					height: 100px;
					margin-top: 10px;
					
				}
			}

		
		.links {
		
			.fa-facebook-official {
				color: $facebookBlue;
				.text {
					color: black;
					margin-left:5px;
				}
			}
			.fa-twitter {
				color: $twitterBlue; 
				
				.text {
					color: black;
					margin-left:5px;
				}
			}
		
		}
	}
	
	
	
}
	