/* !rightBlockModule.scss */
.right-side {
		background-color:white;
		height: auto;
		
		@include respond-to-min(md-screen-min) { //min-width: 768px
			padding-left: 0;
				padding-right: 0;
		}
		@include respond-to-min(lg-screen-min) { //min-width: 992px
			padding-left: 0;
    		padding-right: 0;
		}
					

		.media-container {
			background-color: $ltGry2;
			margin-top: 84px;
			
			.donate {
				width:auto;
				margin-left: 15px;
				
				.button-image {
					width:100px;
					height: 100px;
					margin-top: 10px;
					display: block;
    				margin-left: auto;
    				margin-right: auto;
					
					@include respond-to-max(lg-screen-max){
						//Max width of 991 px
						width: 250px;
					    height: 250px;
					}
				}

				.button-text{
					position: absolute;
					top: 187px;
					margin-left: auto;
					margin-right: auto;
					color: $yellow;
					font-size: 15px;
					text-transform: uppercase;
					text-align: center;
					padding-left: 0px;
					padding-right: 30px;
					@include respond-to-max(lg-screen-max){
						top:-38px;
						position:relative;
					    font-size: 23px;
					    margin-left: 0;
					    margin-right: 0;
					    text-align: center;
					    padding-left: 0px;
					    padding-right: 0px;
					}
				}
			}		
			.links {
			    margin-left: 15px;
  				margin-top: 10px;
  				@include respond-to-max(lg-screen-max){
					margin-left: 0px;
				}
				.title {
					text-transform: capitalize;
					 font-family: Arial;
					 font-size: 15px;
						@include respond-to-max(lg-screen-max){
							text-align: center;
							font-size: 30px;
						}
				}
				.button-container {
					@include respond-to-max(lg-screen-max){
						margin-left: auto;
					    margin-right: auto;
					    display: block;
					}
					.fa-facebook-official {
						color: $facebookBlue;
						width: 110px;
					    background-color: #FFFFFF;
					    border-radius: 3px;
					    padding-left: 2px;
					    border: 2px outset #FFFFFF;
						@include respond-to-max(lg-screen-max){
							font-size: 22px;
	   						width: 175px;
	   						margin-left: auto;
						    margin-right: auto;
						    display: block;
						}
						.text {
							color: black;
							margin-left:5px;
							font-size: 13px;
							font-family: Arial;
							text-transform: capitalize;
							@include respond-to-max(lg-screen-max){
								font-size: 22px;
							}
							
						}
					}
					.fa-twitter {
						color: $twitterBlue; 
						width: 110px;
					    background-color: #FFFFFF;
					    border-radius: 3px;
					    padding-left: 2px;
					    border: 2px outset #FFFFFF;
						@include respond-to-max(lg-screen-max){
							font-size: 22px;
	   						width: 108px;
	   						display: block;
						    margin-left: auto;
						    margin-right: auto;
						}
						
						.text {
							color: black;
							margin-left:5px;
							font-size: 13px;
							padding-right: 47px;
							text-transform: capitalize;
							font-family: Arial;
							@include respond-to-max(lg-screen-max){
								font-size: 22px;
							}
							
						}
					}
				
				}
 				
			}
			.care {
				font-family: Arial;
				margin-left: 10px;
				margin-right: 10px;
  				margin-top: 10px;
  				padding-bottom: 10px;
  				@include respond-to-max(lg-screen-max) {
					text-align: center;
				}
  				
			}
		}
			
	}