/* !rightBlockModule.scss */
.right-side {
		background-color:white;
	height: 380px;
		.media-container {
			background-color: $ltGry2;
			margin-top: 20px;
			@include respond-to-max(x-small) {
				padding-top: 10px;
			}
			
			@include respond-to-max(mobile) {
				width: 125px;
				margin-left: -22px;
			}
			@include respond-to-max(small) {
				width: 100%;
    			padding-top: 10px;
    			margin-left: 0;
			}
			.donate {
				width:auto;
				margin-left: 15px;
				@include respond-to-max(x-small) {
				    margin-left: 0px;
				    position: relative;
				}	
				@include respond-to-max(small) {
					margin-left: 0px;
				}
				@include respond-to-max(mobile) {
					margin-left: 10px;
				}
				.button-image {
					width:100px;
					height: 100px;
					margin-top: 10px;	
					@include respond-to-max(x-small) {
				    	margin-left: auto;
    					margin-right: auto;
    					display: block;
					}	
					@include respond-to-max(small) {
						width: 200px;
					    height: 200px;
					    display: block;
					    margin-left: auto;
					    margin-right: auto;
					    margin-top: 10px;
					}
					    
				}
				.button-text{
					position: absolute;
					top: 99px;
					margin-left: 10%;
					margin-right: 15%;
					width: auto;
					color: $yellow;
					font-size: 15px;
					text-transform: uppercase;
					@include respond-to-max(x-small) {
						top: 77px;
						text-align: center;
						margin-left: auto;
  						margin-right: auto;
    					width: 100%;
    					position: absolute;
					}
					@include respond-to-max(small) {
						text-align: center;
					    margin-left: auto;
					    margin-right: auto;
					    width: 100%;
					    top: 171px;
					    left: 3px;
					    position: absolute;
					    font-size: 24px;
					}
				}
			}		
			.links {
			    margin-left: 15px;
  				margin-top: 10px;
  				@include respond-to-max(x-small) {
						margin-left: 0px;
						/* margin-left: auto;
  						margin-right: auto;
    					width: 100%;
    					position: absolute; */
    					.title {
							text-align: center;
							font-size: 15px;
						}
				}
				@include respond-to-max(small) {
					.title {
						text-align: center;
   		 				font-size: 32px;
					}
				}
  				@include respond-to-max(mobile) {
					margin-left: 5px;
				}
				
				
				.fa-facebook-official {
					color: $facebookBlue;
					width: 110px;
					/******Added for A tag below*********/
					    background-color: #FFFFFF;
					    border-radius: 3px;
					    padding-left: 2px;
					    border: 2px outset #FFFFFF;
					/******Added for A tag above********/
					.title {
						@include respond-to-max(x-small) {
							font-size: 16px !important;
						}
					}
					@include respond-to-max(x-small) {
						margin-left: auto;
						height: 25px;
					    width: auto;
					    display: block;
					    margin-right: auto;
					   /******Added for A tag below*********/
					    width: 141px;
					    /******Added for A tag above********/
					    
					}
					@include respond-to-max(small) {
						margin-right: auto;
					    display: block;
					    margin-left: auto;
					   /******Added for A tag below*********/
					    width: 135px;
					    /******Added for A tag above********/

					}
					.text {
						color: black;
						margin-left:5px;
						font-size: 13px;
						@include respond-to-max(x-small) {
							font-size: 25px;
						}
						@include respond-to-max(small) {
							font-size: 17px;
						}
						
					}
				}
				.fa-twitter {
					color: $twitterBlue; 
					width: 110px;
					/******Added for A tag below*********/
					    background-color: #FFFFFF;
					    border-radius: 3px;
					    padding-left: 2px;
					    border: 2px outset #FFFFFF;
					/******Added for A tag above********/
					@include respond-to-max(x-small) {
						margin-left: auto;
						height: 25px;
					    width: auto;
					    display: block;
					    margin-right: auto;
					    /******Added for A tag below*********/
					    width: 141px;
					    /******Added for A tag above********/
					}
					@include respond-to-max(small) {
						margin-right: auto;
					    display: block;
					    margin-left: auto;
					     /******Added for A tag below*********/
					    width: 135px;
					    /******Added for A tag above********/

					}
					.text {
						color: black;
						margin-left:5px;
						font-size: 13px;
						padding-right: 47px;
						@include respond-to-max(x-small) {
							font-size: 14px;
							padding-right: 0px;
						}
						@include respond-to-max(small) {
							font-size: 17px;
						}
					}
				}
			}
			.care {
				margin-left: 10px;
				margin-right: 10px;
  				margin-top: 10px;
  				padding-bottom: 10px;
  				@include respond-to-max(mobile) {
						font-size: 11px;
				}
  				
			}
		}
			
	}