.team-grid-component {
	margin-top:140px;
	.meet-title  {
		font-family: Verdana;
		font-size: 32px;
		padding-left: 0px;
		@include respond-to-max(small) {
    		padding-right: 0;
    		text-align: center;
		}

	}
	.description {
		width: 70%;

		@include respond-to-max(small) {
			text-align: center;
		    width: 500px;
		    margin-left: 15%;
		    margin-right: 15%;
		}
		@include respond-to-max(x-small) {
			text-align: center;
    		width: 100%;
    		margin-left: 0px;
		    margin-right: 0px;
		}
	}
	.team {
		.member-photo {
    		width: 240px;
    		height: 325px;
    		@include respond-to-max(mobile) {
				    width: 160px;
    				height: 220px;
			}
    		@include respond-to-max(small) {
				width: 325px;
    			height: 425px;
    			margin-left: auto;
    			margin-right: auto;
    			display: block;
			}
    		
		}
		.name {
			font-weight: bold;
			font-family: Arial;
			@include respond-to-max(small) {
				font-size: 18px;
				text-align: center;
				margin-top: 10px;
				
			}
		}
		.about {
			font-family: Arial;
			@include respond-to-max(small) {
				font-size: 18px;
				text-align: center;
				margin-bottom: 20px;
			}
		}
	}
}