.team-grid-component {
	margin-top:140px;
	/* @include respond-to-max(lg-screen-max) {
		margin-top:140px;
	} */
	.meet-title  {
		font-family: Verdana;
		font-size: 32px;
		margin-left: 15px;
		@include respond-to-max(lg-screen-max) {
			text-align: center;
		} 
		

	}
	.description {
		text-align: center;
		font-family: Arial;
		@include respond-to-max(lg-screen-max) {
				font-size: 21px;
		}
		
	}
	.team {
		
		.member-photo {
    		width: 240px;
    		height: 325px;
    		display: block;
		    margin-right: auto;
		    margin-left: auto;
    		
		}
		.name {
			font-weight: bold;
			font-family: Arial;
			text-align:center;
			@include respond-to-max(lg-screen-max) {
				font-size: 21px;
			}
			
		}
		.about {
			@include respond-to-max(lg-screen-max) {
				font-size: 21px;
			}
			font-family: Arial;
			text-align: center;
			
		}
		.member {
			
		}
	}
	.hide-mobile {
		@include respond-to-max(lg-screen-max) {
			visibility: hidden;
		}
		@include respond-to-min(lg-screen-min) {
			visibility: visible;
		}
		.right-side {
			.media-container {
				@include respond-to-max(lg-screen-max){
					display: none;
				}
				@include respond-to-min(lg-screen-min) {
					display: block;
				}
			}

		}
	}
}