.topic-grid {
	background-color: $ltGry2;
	 height: 362px;
	// position:relative;
	 padding: 0;
	.left-block {
		.contents{
		//border:15px solid $ltGry2;
		background-color: $drkGry;
		height: 362px;;	
		.top-section {
			background-color: lighten($drkGry, 20%);
			font-size: 17px;
			color: $yellow;
			max-height: 65px;
			.content-header {
		
		}
			@include respond-to-max(sm-screen) {
				font-size: 12px;
			}
			
		}
		
		.content-section {
			font-size: 14px;
			color: #EDEDED;
			max-height: 150px;
		}}
		
	}
	
	.right-block {
		//height: inherit;
		//border-top:15px solid $ltGry2;	
		//border-left:15px solid $ltGry2;
		//border-right:15px solid $ltGry2;
		//border-bottom:15px solid $ltGry2;
		height: 362px;
		.row {
			height:50%
		}
		.left {
			background-color:$ltGry2;
			height: 100%;

		}
		
		.middle {
			background-color:$ltGry2;
			height:100%;

		}
		
		.right {
			background-color:$ltGry2;
			//height:inherit;
		
		}
		.test {
			//min-width: 200px;
			//min-height:200px;
			height:100%;
			//overflow: auto;
			background-color:yellow;
		}
		.test2 {
			//min-width: 200px;
			//min-height:200px;
			height:100%;
			//overflow: auto;
			background-color:black;
		}
		.top {
				width: 100%;
				border-bottom:15px solid $ltGry2;
				
			}
			
			.bottom {
				width: 100%;
				//border-bottom:15px solid $ltGry2;
			}
	}

}