<div class='globalNav container-fluid'>
	<div class="row">
	<div class="dove-logo">
		<img data-ng-src="{{logo.left}}" alt="{{logo.altLeft}}">
	</div>
	<div class="block-logo">
		<img data-ng-src="{{logo.top}}" alt="{{logo.altTop}}">
	</div>
	<div class="social-media">
		<span class="fa fa-facebook-official"></span><!-- import the files -->
		<span class="fa fa-twitter-square"></span>
	</div>
	<div class="global-navigation-header row">
		<ul class="nav nav-tabs">
			<li ng-repeat="tab in tabs" role="presentation"  class="expanded"  data-ng-class="{last: $last, active: $index==0}">
				<a href="{{tab.href}}">{{tab.title}}</a>
			</li>
		</ul>
	</div> 
	<!-- Single button -->
<div class="btn-group" click-tab>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <span class="glyphicon glyphicon-align-justify"></span>
  </button>
  <ul class="dropdown-menu">
	<li ng-repeat="dTab in dTabs" role="presentation" data-ng-class="{active: $index==0}">
			<a href="{{dTab.href}}">{{dTab.title}}</a>
	</li>
	</ul>
</div>
	</div>
	<!--   <button class="button btn-lg dropdown-toggle" data-toggle="dropdown" type="button" aria-label="Collapsed Menu">
		    		<span class="glyphicon glyphicon-align-justify"></span>
		    		</button>
				<ul class="dropdown-menu">
		      		<li ng-repeat="dTab in dTabs" role="presentation" data-ng-class="{active: $index==1}">
						<a href="{{dTab.href}}">{{dTab.title}}</a>
					</li>
    			</ul>
	 
</div>-->

