<!-- View with carousel in a band (home page)-->

<top-band>
<care-carousel>
	</care-carousel>
<!--  <div class='care-Carousel' carousel-click>
  <div>
    <uib-carousel class='carousel-fade' interval="interval" no-wrap="noWrapSlides">
      <uib-slide data-ng-repeat="slide in carousel" active="slide.active">
		<img data-ng-src="{{slide.image}}" alt="{{slide.altTag}}">
        <div class="carousel-caption"> 
          
        </div>
      </uib-slide>
    </uib-carousel>
  </div>-->
</top-band>

<band>
	<topic-grid>
	</topic-grid>
</band>

