<div class="bg-image row skrollable skrollable-between clearfix" sn-skrollr data-top-top="transform: translate(0%, 0%)" data-top-bottom="transform: translate(0%, 50%)" style="transform: translate(0%, 0%);">
	<span picture-fill data-alt="{{imageAlt}}">
		<span pf-src="{{defImage}}"></span>
		<span ng-repeat="image in images" pf-src="{{image.src}}" alt="{{image.alt}}" width="{{image.width}}" height="{{image.heights}}" data-media="(min-width: {{image.media}})" on-finish-render></span>
  </span>
</div>
