<div class="contact-component row">
	<div class="left-side col-md-10 col-lg-10 col-sm-12 col-xs-12">
		<div class="contact-title">{{title}}</div>
		<!--div class="directions">{{directions}}</div-->
		<div class="tempDirections">{{tempDirections}}</div>
		<a href="mailto:info@careforpeace.org" class="emailLink">Email Us</a>
		
		<div class="alternate">{{alternate}}</div>
		<div class="physical">
			<div class="company">{{company}}</div>
			<div class="street">{{street}}</div>
			<div class="cityState">{{cityState}}</div>
		</div>
	</div>
	<right-block-module></right-block-module>
</div>
