<div class="donate-info row">
	<div class="text-section col-sm-10 ">{{info}}</div>
	<right-block-module></right-block-module>
		<div class="donate-other">
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=TP39BAE27GSJL" target="_blank"></a>
		</div>
</div>
		<!-- div>
		<p class="MsoNormal" align="center" style="text-align:center">
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=QUNYWHDWWZAN2" target="_blank">
		<span style="font-size:14.0pt;color:windowtext;text-decoration:none">
		<img border="0" width="106" height="50" src="?ui=2&amp;ik=29daf05f19&amp;view=fimg&amp;th=152b3ae453fba5f0&amp;attid=0.4&amp;disp=emb&amp;attbid=ANGjdJ_esHQnk49pdDtGDwjEHdrV1Yo4RBZ9DyRv6aMuJTEzHh3cWR0bypHLMidb-256HxV_y0qzl2PLCY62sG2Vq8ortfpGaQNwW4v3BJgaA-K4cdgbaOhUcwMvUw8&amp;sz=w212-h100&amp;ats=1457154683043&amp;rm=152b3ae453fba5f0&amp;zw&amp;atsh=1" alt="Donate%2025.jpg" type="image/png" class="CToWUd">
		</span>
		</a>
		<span style="font-size:14.0pt">&nbsp; </span>
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=35QK6VLNSNDCW" target="_blank">
			<span style="font-size:14.0pt;color:windowtext;text-decoration:none"><img border="0" width="100" height="47" src="?ui=2&amp;ik=29daf05f19&amp;view=fimg&amp;th=152b3ae453fba5f0&amp;attid=0.1&amp;disp=emb&amp;attbid=ANGjdJ-7DFCNzG6XDUGhmjQgl_yTvWZyozKLSwMjADiCGGgdmHARAGZz43VWS_dPYLKzhLO32Nq1p_MS4Ap0oAt-zmEiM6KqkIPqbiXGyqRAH-UEsbpvUUhV-DMDiB8&amp;sz=w200-h94&amp;ats=1457154683043&amp;rm=152b3ae453fba5f0&amp;zw&amp;atsh=1" alt="Donate%2050.jpg" type="image/png" class="CToWUd"></span>
		</a>
		<span style="font-size:14.0pt">&nbsp;&nbsp;</span>
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=Q66LUH46HND7E" target="_blank">
		<span style="font-size:14.0pt;color:windowtext;text-decoration:none">
		<img border="0" width="102" height="48" src="?ui=2&amp;ik=29daf05f19&amp;view=fimg&amp;th=152b3ae453fba5f0&amp;attid=0.2&amp;disp=emb&amp;attbid=ANGjdJ-rEgEoN50A9vX1KwcG-hCLiNzlraZlUjIfKIhYsKxVsqnLvhYQ6JYYzVmgdhRPdWnSBVxjp08XB30sKjCCzcigX1kEbM6KHryuutfKrHXRPiQqSsnVFzsz1WE&amp;sz=w204-h96&amp;ats=1457154683043&amp;rm=152b3ae453fba5f0&amp;zw&amp;atsh=1" alt="donate%20100.jpg" type="image/png" class="CToWUd">
		</span>
		</a>
		<span style="font-size:14.0pt">&nbsp;&nbsp;</span>
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=TP39BAE27GSJL" target="_blank">
		<span style="font-size:14.0pt;color:windowtext;text-decoration:none">
		<img border="0" width="102" height="48" src="?ui=2&amp;ik=29daf05f19&amp;view=fimg&amp;th=152b3ae453fba5f0&amp;attid=0.3&amp;disp=emb&amp;attbid=ANGjdJ-g-VQbKcttZeTV5OwAGToYcYdGwTE81Ub5hU0GiqFEPpDo5uifGz7yH49WxcT83wfBaWOOvBqYQO0CTBoYmFS9GMK0Wc-aKtdyuglR6YMz7HsCPaVTqgta1zw&amp;sz=w204-h96&amp;ats=1457154683043&amp;rm=152b3ae453fba5f0&amp;zw&amp;atsh=1" alt="Donate%20other.jpg" type="image/png" class="CToWUd">
		</span>
		</a>
		<span style="font-size:14.0pt">
		<u></u><u></u></span></p></div>
		</div> -->