<div class="middle-component row">
	<div class="left-side col-sm-10 ">
		<div style="white-space:pre-line;" class="top-content">{{infoSection}}</div>
		<div class="bottom-content">{{video}}</div>
	</div>
	<div class="right-side col-sm-2">
		<div class="donate">
			<img class="button-image" href="{{top.href}}" data-ng-src="{{top.image}}" alt="{{top.alt}}" height="" width="">
			<div class="button-text">{{top.text}}</div>
		</div>
		<div ng-repeat="link in links" class="links">
			<div class="title">{{link.title}}</div>
			<div>
				<img class="" href="{{link.href}}"  data-ng-src="{{link.image}}">
				<div class="">{{link.text}}</div>
			</div>
		</div>
		<div class="care">{{care}}</div>
	</div>
</div>