<div class="middle-component row">
	<div class="left-side col-sm-10">
		<div class="top-content">{{infoSection}}</div>
		<div class="bottom-content">
			<div ng-if="video.show =='true'" class="title">{{video.title}}</div>
			<div class="video-container row">
			<!-- 4:3 aspect ratio -->
			<div class="col-sm-12">
				<!--  do ngif between video and not video -->
				<div ng-if="video.show =='true'" class="embed-responsive embed-responsive-16by9">
  					<!--iframe ng-if="video.show =='true'" class="embed-responsive-item" src="https://www.youtube.com/embed/jDXZwkyLuPg"></iframe-->
					<iframe ng-if="video.show =='true'" class="embed-responsive-item" src="{{video.src | trustUrl}}"></iframe>
				</div>
				<div ng-if="image.show =='true'" class="bottom-image">
  					<img class="" data-ng-src="{{image.src}}" alt="{{image.alt}}">
				</div>
			</div>
         
			</div>
		</div>
	</div>
	<right-block-module></right-block-module>
</div>



