
<div class="right-side col-xs-12 col-sm-12 col-md-2 col-lg-2">
	<div class="media-container"><!--  col-sm-12 col-md-2 col-lg-2 -->
		<a href="#donate" class="donate row">
			<img class="button-image" href="{{top.href}}" data-ng-src="{{top.image}}" alt="{{top.alt}}" height="" width="">
			<!--div href="#donate" class="button-text">{{top.text}}</div-->
			<div href="#donate" class="button-text col-xs-12 col-sm-12 col-md-12 col-lg-12">{{top.text}}</div>
		</a>
		<div ng-repeat="link in links" class="links">
			<div class="title">{{link.title}}</div>
			<div class="button-container">
				<a type="button" href="{{link.href}}" class="{{link.icon}}"><span class="text">{{link.text}}</span></a>
			</div>
			
		</div>
		<div class="care">{{care}}</div>
	</div>
</div>


