<div class="right-side col-sm-2">
	<div class="media-container">
		<div class="donate">
			<img class="button-image" href="{{top.href}}" data-ng-src="{{top.image}}" alt="{{top.alt}}" height="" width="">
			<div class="button-text">{{top.text}}</div>
		</div>
		<div ng-repeat="link in links" class="links">
			<div class="title">{{link.title}}</div>
			<a type="button" href="{{link.href}}" class="{{link.icon}}"><span class="text">{{link.text}}</span></a>
		</div>
		<div class="care">{{care}}</div>
	</div>
</div>