<!-- Right Block Module -->
<!--  div class="right-block col-sm-7 ">
		<div ng-repeat="rowItem in grid" class="row {{rowItem.row}}">
  			<div ng-repeat="gridItem in rowItem.items" class="{{gridItem.position}} col-xs-4">
  				<div class="button-text" data-ng-class="{donate: $last}">{{gridItem.text}}</div>
				<img data-ng-src="{{gridItem.image}}" alt="{{gridItem.alt}}" height="{{gridItem.height}}" width="{{gridItem.width}}" class="{{gridItem.row}}">
  			</div>
  		</div>
  		
</div>-->

<div class="right-side col-sm-2">
		<div class="media-container">
			<div class="donate">
				<img class="button-image" href="{{top.href}}" data-ng-src="{{top.image}}" alt="{{top.alt}}" height="" width="">
				<div class="button-text">{{top.text}}</div>
			</div>
			<div ng-repeat="link in links" class="links">
				<div class="title">{{link.title}}</div>
				<button type="button" class="{{link.icon}}"><span class="text">{{link.text}}</span></button>
			</div>
			<div class="care">{{care}}</div>
		</div>
	</div>