<div class="topic-grid row">
	<div class="left-block col-sm-5 ">
		<div class="top-box row">
			<div class="header">{{left[0].header}}</div>
			<div class="content">{{left[0].content}}</div>
		</div>
		<div class="bottom-box row">
			<div class="header">{{left[1].header}}</div>
			<div class="content">{{left[1].content}}</div>
		</div>
	</div>

	<div class="right-block col-sm-7 ">
		<div ng-repeat="rowItem in grid" class="row {{rowItem.row}}">
  			<div ng-repeat="gridItem in rowItem.items" class="{{gridItem.position}} col-xs-4">
  				<div class="button-text" data-ng-class="{donate: $last}">{{gridItem.text}}</div>
				<img data-ng-src="{{gridItem.image}}" alt="{{gridItem.alt}}" height="{{gridItem.height}}" width="{{gridItem.width}}" class="{{gridItem.row}}">
  			</div>
  		</div>
  		
 	</div>

</div>