<div sn-skrollr class="topic-grid row skrollable-between" data-top-top="transform: translate(0%, 0%)" data-top-bottom="transform: translate(0%, 50%)" style="transform: translate(0%, 0%);">
	<div class="left-block col-sm-5">
		<div class="top-box row">
			<div class="header">{{left[0].header}}</div>
			<div class="content">{{left[0].content}}</div>
		</div>
		<div class="bottom-box row"><!-- -->
			<div  class="header "  >{{left[1].header}}</div>
			<div class="content">{{left[1].content}}</div>
		</div>
	</div>

	<div class="right-block col-sm-7 ">
		<div ng-repeat="rowItem in grid" class="row {{rowItem.row}}">
  			<div ng-repeat="gridItem in rowItem.items" class="{{gridItem.position}} col-xs-4">
  				<div class="button-text" data-ng-class="{donate: $last}">{{gridItem.text}}</div>
				<a href="{{gridItem.href}}">
					<img data-ng-src="{{gridItem.image}}" alt="{{gridItem.alt}}" height="{{gridItem.height}}" width="{{gridItem.width}}" class="{{gridItem.row}}">
				</a>
  			</div>
  		</div>
  		
 	</div>

</div>
